@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
  --color-primary: 0, 120, 215;
  --color-primary-light: 51, 153, 255;
  --color-primary-dark: 0, 102, 204;
  
  --color-secondary: 0, 64, 128;
  --color-secondary-light: 51, 102, 153;
  --color-secondary-dark: 0, 51, 102;

  --color-accent: 0, 204, 255;
  --color-accent-light: 102, 229, 255;
  --color-accent-dark: 0, 179, 230;
  
  --color-neutral: 107, 114, 128;
  --color-neutral-light: 209, 213, 219;
  --color-neutral-dark: 17, 24, 39;
}

.dark {
  --color-primary: 0, 102, 204;
  --color-primary-light: 51, 153, 255;
  --color-primary-dark: 0, 82, 164;

  --color-secondary: 0, 51, 102;
  --color-secondary-light: 51, 102, 153;
  --color-secondary-dark: 0, 41, 82;

  --color-accent: 0, 179, 230;
  --color-accent-light: 102, 229, 255;
  --color-accent-dark: 0, 143, 184;
  
  --color-neutral: 55, 65, 81;
  --color-neutral-light: 229, 231, 235;
  --color-neutral-dark: 249, 250, 251;
}
