
.nav-links-md::after{
    content: '';
   position: absolute;
   width: 0%;
   height: 3px;
   bottom: -5px;
    left: 10%;
   visibility: hidden;
   transition: all 0.3s ease-in-out;
 }
 .nav-links-md:hover::after {
   width: 80%;
   visibility: visible;
 }
 
 